<app-menu></app-menu>
<br/>
<section class="section-help bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card card-help">
            <div class="card-body">
              <h2 class="card-title">Versión</h2>
              <p class="card-text">La versión actual de nuestra aplicación es 1.0.1</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-4">
          <div class="card card-help">
            <div class="card-body">
              <h2 class="card-title">Autores</h2>
              <p class="card-text">La aplicación fue creada por Guillermo Jimenez y Noel Ruiz.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-4">
          <div class="card card-help">
            <div class="card-body">
              <h2 class="card-title">Contacto</h2>
              <p class="card-text">Si tienes alguna pregunta o sugerencia, no dudes en contactarnos.</p>
              <ul class="list-unstyled">
                <li><i class="fas fa-envelope"></i> <a href="mailto:contacto@app.com">contacto@app.com</a></li>
                <li><i class="fas fa-phone"></i> +34 (555) 123-4567</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row mt-5">
        <div class="col-md-6 col-lg-4">
          <div class="card card-help">
            <div class="card-body">
              <h2 class="card-title">Preguntas frecuentes</h2>
              <p class="card-text">Consulta nuestras preguntas frecuentes para obtener ayuda adicional.</p>
              <a href="#" class="btn btn-primary">Ir a preguntas frecuentes</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-4">
          <div class="card card-help">
            <div class="card-body">
              <h2 class="card-title">Términos y condiciones</h2>
              <p class="card-text">Lee nuestros términos y condiciones para conocer las reglas de uso de nuestra aplicación.</p>
              <a href="#" class="btn btn-primary">Ir a términos y condiciones</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-4">
          <div class="card card-help">
            <div class="card-body">
              <h2 class="card-title">Política de privacidad</h2>
              <p class="card-text">Lee nuestra política de privacidad para conocer cómo protegemos tu información personal.</p>
              <a href="#" class="btn btn-primary">Ir a política de privacidad</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  