<h3 style="text-align:left;">Seleccione los agentes que desea consultar</h3>
<div>
  <label class="checkbox-label">
      <label type="checkbox"></label>
      <label class="checkbox-name">Nombre Del Agente</label>
      <label class="checkbox-status">Activo</label>
    </label>
</div>
<div *ngFor="let agent of agents; let i = index">
  <label class="checkbox-label">
    <input type="checkbox" name="item" [value]="agent.name" [(ngModel)]="selectedItems[i]" (ngModelChange)="onCheckboxChange(agent.name,i)">
    <span class="checkbox-name">{{ agent.name }}</span>
    <span class="checkbox-status" [class.active]="agent.active"></span>
  </label>
</div>

<button (click)="refreshAgents()">Refrescar Agentes</button>
