
<h3 style="text-align:left;">Aqui puedes seleccionar agentes</h3>
<table class="agents-table">
  <thead>
    <tr>
      <th></th>
      <th>Nombre del Agente</th>
      <th>Activo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agent of agents; let i = index">
      <td><input type="checkbox" name="item" [value]="agent.name" [(ngModel)]="selectedItems[i]" (ngModelChange)="onCheckboxChange(agent.name,i)"></td>
      <td>{{ agent.name }}</td>
      <td class="centered"><span class="checkbox-status" [class.active]="agent.active" [class.inactive]="!agent.active"></span></td>
    </tr>
  </tbody>
</table>

<button (click)="refreshAgents()">Refrescar Agentes</button>

